@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;400;700&display=swap');
body {
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Mono', 'Open Sans', sans-serif;
  background: linear-gradient(#feffff, #feffff) no-repeat center center fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Tailwind */

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .link {
    @apply bg-orange-500 px-6 py-1 duration-150 hover:bg-red-500;
  }
  .appcreatorlink {
    @apply mb-2 shrink-0 grow-0  rounded-md border-x-2 bg-orange-500 px-3 text-white duration-150 hover:bg-red-500;
  }
  .absolute-l-t {
    @apply absolute left-1/2 top-1/2;
  }
  .position-hours {
    @apply z-10 -translate-x-1/2 -translate-y-1/2 font-bold text-gray-500;
  }
  .marks-3-6-9-12-container {
    @apply absolute-l-t flex h-1 w-62 -translate-x-1/2 -translate-y-1/2 justify-between rounded-full bg-transparent;
  }
  .marks-container {
    @apply absolute-l-t flex h-0.5 w-62 -translate-x-1/2 -translate-y-1/2 justify-between rounded-full bg-transparent;
  }
  .marks-3-6-9-12 {
    @apply h-full w-3 rounded-full bg-slate-500 shadow;
  }
  .marks {
    @apply h-full w-2 bg-slate-500;
  }
  .calories-input {
    @apply mb-2 mr-2 appearance-none rounded border-gray-200 bg-slate-50 py-1 px-3 text-sm text-gray-700 caret-orange-500 focus:border-gray-200 focus:bg-white focus:outline-none;
  }

  .alarm-input {
    @apply w-12 appearance-none rounded border-gray-200 bg-slate-50 text-center text-base text-gray-700 caret-orange-500 focus:border-gray-200 focus:bg-white focus:outline-none;
  }
}

.mobile-h-screen {
  /* equivalent to 100dvh in major browsers */
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

/* Shadow */
.shadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.shadow-clock {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 0px 20px, rgba(0, 0, 0, 0.23) 0px 0px 6px;
}
.shadow-hour {
  box-shadow: rgba(190, 15, 15, 0.784) 0px 10px 20px,
    rgba(215, 35, 35, 0.253) 0px 6px 6px;
}
.shadow-min {
  box-shadow: rgba(15, 88, 190, 0.784) 0px 10px 20px,
    rgba(35, 74, 215, 0.253) 0px 6px 6px;
}
.shadow-sec {
  box-shadow: rgba(190, 15, 50, 0.784) 0px 10px 20px,
    rgba(215, 35, 35, 0.253) 0px 6px 6px;
}

.position-hands {
  position: absolute;
  left: 122px;
  bottom: 50%;
  transform: translateX(50%), translateY(-100%);
  border-radius: 9999px;
  transform-origin: bottom;
}

.border1 {
  position: relative;
}

.border1:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: solid 4px rgb(249 115 22);
  animation: border_anim 1s ease-out infinite;
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.rotatex180 {
  transform: rotateX(180deg);
}
.rotatex0 {
  transform: rotateX(-180deg);
}

.translateY {
  margin-top: -170px;
}

.green {
  background-color: lightgreen;
}
.blue {
  background-color: lightblue;
}
.red {
  background-color: lightcoral;
}
